/* Our lightbox skin named 'pulse' */

.topbox_open .topbox_blur_wrapper {
	filter: blur(1px);
}

@-webkit-keyframes pulse {
	0% {background-color: #45CEEF;}
	25% {background-color: #FFF5A5;}
	50% {background-color: #FFD4DA;}
	75% {background-color: #99D2E4;}
	100% {background-color: #D8CAB4;}
}

.topbox_skin_pulse .topbox_fill {
	-webkit-animation: pulse 80s infinite alternate;
  background-color: #45CEEF;
}

.topbox_loading_message,
.topbox_pdf_mobile_message {
	color: rgb(145,145,145);
	font-size: 18px;
}

.topbox_skin_pulse a.topbox_pdf_mobile_button,
.topbox_skin_pulse a.topbox_pdf_mobile_button:visited {
	color: rgb(145,145,145);
	border-radius: 1rem;
	border: 2px solid rgb(145,145,145);
  text-decoration: none;
  opacity: 0.5;
  transition: all 300ms ease-in;
  padding: 1rem;
	line-height: 1;
	display: block;
	margin-top: 1rem;
}

.topbox_skin_pulse a.topbox_pdf_mobile_button:hover,
.topbox_skin_pulse a.topbox_pdf_mobile_button:active {
	opacity: 1;
}

.topbox_skin_pulse .topbox_nav {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.topbox_skin_pulse .topbox_prev,
.topbox_skin_pulse .topbox_next,
.topbox_skin_pulse .topbox_close {
	text-decoration: none;
	font-size: 55px;
	color: #ffffff;
	transition: all 100ms ease-in;
	padding: 2vw;
	line-height: 1;
	text-shadow: 1px 1px 1px #000;
}

.topbox_skin_pulse .topbox_close {
	margin-top: -10px;
}

.topbox_skin_pulse .topbox_prev:hover,
.topbox_skin_pulse .topbox_next:hover,
.topbox_skin_pulse .topbox_close:hover {
	color: #cdcdcd;
}

.topbox_skin_pulse .topbox_prev:before {
	content: "←"
}

.topbox_skin_pulse .topbox_next:before {
	content: "→"
}

.topbox_skin_pulse .topbox_close:before {
	content: "×";
}

.topbox_skin_pulse .topbox_title {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	background: none;
	color: #ffffff;
	padding: 5px;
	margin-top: 7px;
	border-radius: 0px;
	text-align: center;
	display: inline-block;
	text-shadow: 1px 1px 1px #000;
}

.topbox_skin_pulse .topbox_image,
.topbox_skin_pulse .topbox_html5audio,
.topbox_skin_pulse .topbox_html5video,
.topbox_skin_pulse .topbox_video,
.topbox_skin_pulse .topbox_ajax,
.topbox_skin_pulse .topbox_inline,
.topbox_skin_pulse .topbox_pdf {

}

.topbox_skin_pulse .topbox_ajax,
.topbox_skin_pulse .topbox_inline {
	background: #fff;
	padding: 40px;
}
