/* Our lightbox skin named 'pulse' */
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(69,206,239,0.95);
  }

  25% {
    background-color: rgba(255,245,165,0.95);
  }

  50% {
    background-color: rgba(255,212,218,0.95);
  }

  75% {
    background-color: rgba(153,210,228,0.95);
  }

  100% {
    background-color: rgba(216,202,180,0.95);
  }
}

.topbox_skin_pulse .topbox_fill {
  -webkit-animation: pulse 60s infinite alternate;
  background-color: rgba(69,206,239,0.95);
}

.topbox_skin_pulse .topbox_error,
.topbox_skin_pulse .topbox_pdf_mobile_message {
  color: rgb(145, 145, 145);
  font-size: 18px;
}

.topbox_skin_pulse a.topbox_pdf_mobile_button,
.topbox_skin_pulse a.topbox_pdf_mobile_button:visited {
  color: rgb(145, 145, 145);
  border-radius: 1rem;
  border: 2px solid rgb(145, 145, 145);
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_pulse .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_pulse .topbox_prev,
.topbox_skin_pulse .topbox_next,
.topbox_skin_pulse .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 55px;
  color: #000000;
  transition: all 100ms ease-in-out;
  padding: 2vw;
  line-height: 1;
  text-shadow: 1px 1px 1px #ffffff;
}

.topbox_skin_pulse .topbox_close {
  margin-top: -10px;
}

.topbox_skin_pulse .topbox_prev:hover,
.topbox_skin_pulse .topbox_next:hover,
.topbox_skin_pulse .topbox_close:hover {
  color: #333333;
}

.topbox_skin_pulse .topbox_prev:before {
  content: "←"
}

.topbox_skin_pulse .topbox_next:before {
  content: "→"
}

.topbox_skin_pulse .topbox_close:before {
  content: "×";
}

.topbox_skin_pulse .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #000000;
  padding: 5px;
  font-weight: bold;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px 1px #ffffff;
}

.topbox_skin_pulse .topbox_image,
.topbox_skin_pulse .topbox_html5audio,
.topbox_skin_pulse .topbox_html5video,
.topbox_skin_pulse .topbox_embedded_web_video,
.topbox_skin_pulse .plyr,
.topbox_skin_pulse .topbox_ajax,
.topbox_skin_pulse .topbox_inline,
.topbox_skin_pulse .topbox_ajax,
.topbox_skin_pulse .topbox_pdf_wrap,
.topbox_skin_pulse .topbox_iframe_wrap,
.topbox_skin_pulse .topbox_video_iframe_wrap {
  box-shadow: 0px 0px 4px 2px rgba(94,94,94,0.3);
}
