/* Our lightbox skin named 'night_mode' */
.topbox_skin_night_mode .topbox_fill {
  background: rgba(0, 0, 0, 0.90);
}

.topbox_skin_night_mode .topbox_error,
.topbox_skin_night_mode .topbox_pdf_mobile_message {
  color: #ffffff;
  font-size: 18px;
}

.topbox_skin_night_mode a.topbox_pdf_mobile_button,
.topbox_skin_night_mode a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_night_mode .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_night_mode .topbox_prev,
.topbox_skin_night_mode .topbox_next,
.topbox_skin_night_mode .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #cccccc;
  background: #2B2A2B;
  transition: all 100ms ease-in;
  line-height: 55px;
  text-align: center;
  padding: 1.5vw;
}

.topbox_skin_night_mode .topbox_prev:hover,
.topbox_skin_night_mode .topbox_next:hover,
.topbox_skin_night_mode .topbox_close:hover {
  color: #ffffff;
  background: #333333;
}

.topbox_skin_night_mode .topbox_prev {
  border-radius: 0 10px 10px 0;
}

.topbox_skin_night_mode .topbox_next {
  border-radius: 10px 0 0 10px;
}

.topbox_skin_night_mode .topbox_close,
.topbox_skin_night_mode .topbox_close:hover {
  background: none;
  padding-top: 1vw;
}

.topbox_skin_night_mode .topbox_prev:before {
  content: "←"
}

.topbox_skin_night_mode .topbox_next:before {
  content: "→"
}

.topbox_skin_night_mode .topbox_close:before {
  content: "×";
}

.topbox_skin_night_mode .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 55px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #ffffff;
  background: none;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
}
