/* Our lightbox skin named 'mint' */
.topbox_skin_mint .topbox_fill {
  background: rgb(221, 227, 229);
  background: linear-gradient(0deg, rgba(221, 227, 229, 0.95) 0%, rgba(195, 206, 209, 0.95) 100%);
}

.topbox_skin_mint .topbox_error,
.topbox_skin_mint .topbox_pdf_mobile_message {
  color: rgb(145, 145, 145);
  font-size: 18px;
}

.topbox_skin_mint a.topbox_pdf_mobile_button,
.topbox_skin_mint a.topbox_pdf_mobile_button:visited {
  color: rgb(145, 145, 145);
  border-radius: 1rem;
  border: 2px solid rgb(145, 145, 145);
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_mint .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_mint .topbox_prev,
.topbox_skin_mint .topbox_next,
.topbox_skin_mint .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 65px;
  color: #000000;
  background-color: #9FFBD3;
  transition: all 100ms ease-in-out;
  width: 65px;
  height: 75px;
  text-align: center;
  line-height: 72px;
  overflow: hidden;
  display: block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.topbox_skin_mint .topbox_close {
  line-height: 65px;
  margin-top: -5px;
}

.topbox_skin_mint .topbox_prev:hover,
.topbox_skin_mint .topbox_next:hover,
.topbox_skin_mint .topbox_close:hover {
  color: #797979;
}

.topbox_skin_mint .topbox_prev:before {
  content: "←"
}

.topbox_skin_mint .topbox_next:before {
  content: "→"
}

.topbox_skin_mint .topbox_close:before {
  content: "×";
}

.topbox_skin_mint .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 65px;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #000000;
  padding: 0 30px;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  background-color: #9FFBD3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.topbox_skin_mint .topbox_image,
.topbox_skin_mint .topbox_html5audio,
.topbox_skin_mint .topbox_html5video,
.topbox_skin_mint .topbox_embedded_web_video,
.topbox_skin_mint .plyr,
.topbox_skin_mint .topbox_ajax,
.topbox_skin_mint .topbox_inline,
.topbox_skin_mint .topbox_ajax,
.topbox_skin_mint .topbox_pdf_wrap,
.topbox_skin_mint .topbox_iframe_wrap,
.topbox_skin_mint .topbox_video_iframe_wrap {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
