/* Our lightbox skin named 'whiteout' */
.topbox_skin_whiteout .topbox_fill {
  background: #FFFFFF;
}

.topbox_skin_whiteout .topbox_error,
.topbox_skin_whiteout .topbox_pdf_mobile_message {
  color: #000000;
  font-size: 18px;
}

.topbox_skin_whiteout a.topbox_pdf_mobile_button,
.topbox_skin_whiteout a.topbox_pdf_mobile_button:visited {
  color: #000000;
  border: 2px solid #000000;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_whiteout .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_whiteout .topbox_prev,
.topbox_skin_whiteout .topbox_next,
.topbox_skin_whiteout .topbox_close {
  text-decoration: none;
  font-size: 45px;
  color: #000000;
  transition: all 300ms ease-in;
  padding: 10px;
  line-height: 1;
}

.topbox_skin_whiteout .topbox_close {
  padding-top: 0;
}

.topbox_skin_whiteout .topbox_prev:hover,
.topbox_skin_whiteout .topbox_next:hover,
.topbox_skin_whiteout .topbox_close:hover {
  color: rgb(0, 0, 0, 0.5);
}

.topbox_skin_whiteout .topbox_prev:before {
  content: "←"
}

.topbox_skin_whiteout .topbox_next:before {
  content: "→"
}

.topbox_skin_whiteout .topbox_close:before {
  content: "×";
}

.topbox_skin_whiteout .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #000000 padding: 7px 15px;
  margin-top: 7px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
	font-weight: bold;
}
