/* Our lightbox skin named 'blue_hue' */

.topbox_open .topbox_blur_wrapper {
	filter: blur(1px);
}
 
.topbox_skin_blue_hue .topbox_fill { 
	background-color: rgba(0,84,147,0.9);
}

.topbox_loading_message,
.topbox_pdf_mobile_message {
	color: rgb(145,145,145);
	font-size: 18px;
}

.topbox_skin_blue_hue a.topbox_pdf_mobile_button,
.topbox_skin_blue_hue a.topbox_pdf_mobile_button:visited {
	color: rgb(145,145,145);
	border-radius: 1rem;
	border: 2px solid rgb(145,145,145);
    text-decoration: none;
    opacity: 0.5;
    transition: all 300ms ease-in;
    padding: 1rem;
	line-height: 1;
	display: block;
	margin-top: 1rem;
}

.topbox_skin_blue_hue a.topbox_pdf_mobile_button:hover,
.topbox_skin_blue_hue a.topbox_pdf_mobile_button:active {
	opacity: 1;
}

.topbox_skin_blue_hue .topbox_nav {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.topbox_skin_blue_hue .topbox_prev,
.topbox_skin_blue_hue .topbox_next,
.topbox_skin_blue_hue .topbox_close {
	text-decoration: none;
	font-size: 45px;
	color: #ffffff;
	background: #000000;
	transition: all 300ms ease-in;
	width: 55px;
	line-height: 55px;
	text-align: center;
}

.topbox_skin_blue_hue .topbox_close {
	line-height: 65px;
	margin-top: -10px;
}

.topbox_skin_blue_hue .topbox_prev:hover,
.topbox_skin_blue_hue .topbox_next:hover,
.topbox_skin_blue_hue .topbox_close:hover {
	color: #cdcdcd;
}

.topbox_skin_blue_hue .topbox_prev:before { 
	content: "←"
}

.topbox_skin_blue_hue .topbox_next:before { 
	content: "→"
}

.topbox_skin_blue_hue .topbox_close:before {
	content: "×";
}

.topbox_skin_blue_hue .topbox_title {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	background: none;
	color: #ffffff;
	background: #000000;
	padding: 10px 20px;
	margin-top: 7px;
	text-align: center;
	display: inline-block;
}

.topbox_skin_blue_hue .topbox_image,
.topbox_skin_blue_hue .topbox_html5audio,
.topbox_skin_blue_hue .topbox_html5video,
.topbox_skin_blue_hue .topbox_video,
.topbox_skin_blue_hue .topbox_ajax,
.topbox_skin_blue_hue .topbox_inline,
.topbox_skin_blue_hue .topbox_pdf {
	
}

.topbox_skin_blue_hue .topbox_ajax,
.topbox_skin_blue_hue .topbox_inline {
	background: #fff;
	padding: 40px;
}