/* Our lightbox skin named 'intense_kiss' */
.topbox_skin_intense_kiss .topbox_fill {
  background: rgba(255, 93, 177, 0.95);
  background: -moz-linear-gradient(top, rgba(255, 93, 177, 0.95) 0%, rgba(239, 1, 124, 0.95) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0.95)), color-stop(100%, rgba(239, 1, 124, 0.95)));
  background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0.95) 0%, rgba(239, 1, 124, 0.95) 100%);
  background: -o-linear-gradient(top, rgba(255, 93, 177, 0.95) 0%, rgba(239, 1, 124, 0.95) 100%);
  background: -ms-linear-gradient(top, rgba(255, 93, 177, 0.95) 0%, rgba(239, 1, 124, 0.95) 100%);
  background: linear-gradient(to bottom, rgba(255, 93, 177, 0.95) 0%, rgba(239, 1, 124, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=0);
}

.topbox_skin_intense_kiss .topbox_error,
.topbox_skin_intense_kiss .topbox_pdf_mobile_message {
  color: #333333;
  font-size: 18px;
}

.topbox_skin_intense_kiss a.topbox_pdf_mobile_button,
.topbox_skin_intense_kiss a.topbox_pdf_mobile_button:visited {
  color: #333333;
  border-radius: 1rem;
  border: 2px solid #333333;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_intense_kiss .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_intense_kiss .topbox_prev,
.topbox_skin_intense_kiss .topbox_next,
.topbox_skin_intense_kiss .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #333333;
  transition: all 300ms ease-in;
  padding: 10px;
  line-height: 1;
}

.topbox_skin_intense_kiss .topbox_close {
  margin-top: -10px;
}

.topbox_skin_intense_kiss .topbox_prev:hover,
.topbox_skin_intense_kiss .topbox_next:hover,
.topbox_skin_intense_kiss .topbox_close:hover {
  color: #666666;
}

.topbox_skin_intense_kiss .topbox_prev:before {
  content: "←"
}

.topbox_skin_intense_kiss .topbox_next:before {
  content: "→"
}

.topbox_skin_intense_kiss .topbox_close:before {
  content: "×";
}

.topbox_skin_intense_kiss .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #333333;
  padding: 15px;
  margin-top: 7px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
