/* Our lightbox skin named 'vivid' */
.topbox_skin_vivid .topbox_fill {
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  border: 5px solid #FF2F92;
}

.topbox_skin_vivid .topbox_error,
.topbox_skin_vivid .topbox_pdf_mobile_message {
  color: #FF2F92;
  font-size: 18px;
}

.topbox_skin_vivid a.topbox_pdf_mobile_button,
.topbox_skin_vivid a.topbox_pdf_mobile_button:visited {
  color: #FF2F92;
  border-radius: 1rem;
  border: 5px solid #FF2F92;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_vivid .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_vivid .topbox_prev,
.topbox_skin_vivid .topbox_next,
.topbox_skin_vivid .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 55px;
  color: #FF2F92;
  transition: all 100ms ease-in;
  padding: 2vw;
  line-height: 1;
}

.topbox_skin_vivid .topbox_close {
  margin-top: -10px;
}

.topbox_skin_vivid .topbox_prev:hover,
.topbox_skin_vivid .topbox_next:hover,
.topbox_skin_vivid .topbox_close:hover {
  color: #FF8AD8;
  font-size: 65px;
}

.topbox_skin_vivid .topbox_prev:before {
  content: "←"
}

.topbox_skin_vivid .topbox_next:before {
  content: "→"
}

.topbox_skin_vivid .topbox_close:before {
  content: "×";
}

.topbox_skin_vivid .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #FF2F92;
  padding: 5px;
  margin-top: 7px;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}
