/* Our lightbox skin named 'minimal' */
.topbox_skin_minimal .topbox_fill {
  background-color: rgba(255, 255, 255, 0.95);
}

.topbox_skin_minimal .topbox_error,
.topbox_skin_minimal .topbox_pdf_mobile_message {
  color: #ffffff;
  background: #000000;
  font-size: 18px;
}

.topbox_skin_minimal a.topbox_pdf_mobile_button,
.topbox_skin_minimal a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  background: #000000;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_minimal .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_minimal .topbox_prev,
.topbox_skin_minimal .topbox_next,
.topbox_skin_minimal .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #ffffff;
  background: #000000;
  transition: all 300ms ease-in;
  width: 55px;
  height: 55px;
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.topbox_skin_minimal .topbox_prev:hover,
.topbox_skin_minimal .topbox_next:hover,
.topbox_skin_minimal .topbox_close:hover {
  color: #cdcdcd;
}

.topbox_skin_minimal .topbox_prev {
  top: 2px;
  right: 116px;
  left: auto;
}

.topbox_skin_minimal .topbox_next {
  top: 2px;
  right: 59px;
}

.topbox_skin_minimal .topbox_close {
  top: 2px;
  right: 2px;
  line-height: 40px;
  font-size: 60px
}

.topbox_skin_minimal .topbox_prev:before {
  content: "←"
}

.topbox_skin_minimal .topbox_next:before {
  content: "→"
}

.topbox_skin_minimal .topbox_close:before {
  content: "×";
}

.topbox_skin_minimal .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 65px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #ffffff;
  background: #000000;
  padding: 0px 20px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
}
