/* Our lightbox skin named 'lightbox' */
.topbox_skin_lightbox .topbox_fill {
  background: rgba(255, 255, 255, 0.95);
}

.topbox_skin_lightbox .topbox_error,
.topbox_skin_lightbox .topbox_pdf_mobile_message {
  color: #191919;
  font-size: 18px;
}

.topbox_skin_lightbox a.topbox_pdf_mobile_button,
.topbox_skin_lightbox a.topbox_pdf_mobile_button:visited {
  color: #191919;
  border-radius: 1rem;
  border: 2px solid #191919;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_lightbox .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_lightbox .topbox_prev,
.topbox_skin_lightbox .topbox_next,
.topbox_skin_lightbox .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #191919;
  text-decoration: none;
  font-size: 45px;
  transition: all 100ms ease-in-out;
  padding: 2vw;
  line-height: 1;
}

.topbox_skin_lightbox .topbox_close {
  margin-top: -10px;
  font-size: 55px;
}

.topbox_skin_lightbox .topbox_prev:hover,
.topbox_skin_lightbox .topbox_next:hover,
.topbox_skin_lightbox .topbox_close:hover {
  color: #797979;
}

.topbox_skin_lightbox .topbox_prev:focus,
.topbox_skin_lightbox .topbox_next:focus,
.topbox_skin_lightbox .topbox_close:focus,
.topbox_skin_lightbox .topbox_prev:active,
.topbox_skin_lightbox .topbox_next:active,
.topbox_skin_lightbox .topbox_close:active {
  outline: none;
  border: none;
}

.topbox_skin_lightbox .topbox_prev:before {
  content: "←"
}

.topbox_skin_lightbox .topbox_next:before {
  content: "→"
}

.topbox_skin_lightbox .topbox_close:before {
  content: "×";
}

.topbox_skin_lightbox .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  background: transparent;
  color: #191919;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}
