/* Our lightbox skin named 'zest' */
.topbox_skin_zest .topbox_fill {
  background-color: rgba(0, 0, 0, 0.85);
}

.topbox_skin_zest .topbox_loading_message,
.topbox_skin_zest .topbox_pdf_mobile_message {
  color: #ffffff;
  font-size: 18px;
}

.topbox_skin_zest a.topbox_pdf_mobile_button,
.topbox_skin_zest a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_zest .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_zest .topbox_prev,
.topbox_skin_zest .topbox_next,
.topbox_skin_zest .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #FF9300;
  background: rgb(108, 108, 108);
  background: linear-gradient(0deg, rgba(76, 76, 76, 1) 0%, rgba(108, 108, 108, 1) 100%);
  text-shadow: 1px 1px 1px #000000;
  border: 2px solid #333333;
  transition: all 100ms ease-in-out;
  width: 55px;
  height: 55px;
  line-height: 55px;
  line-height: 1;
  border-radius: 50%;
  margin: 15px;
}

.topbox_skin_zest .topbox_prev {
  text-align: left;
  font-size: 25px;
}

.topbox_skin_zest .topbox_next {
  text-align: right;
  font-size: 25px;
}

.topbox_skin_zest .topbox_prev:hover,
.topbox_skin_zest .topbox_next:hover,
.topbox_skin_zest .topbox_close:hover {
  color: #cdcdcd;
}

.topbox_skin_zest .topbox_prev:before {
  content: "◄";
  position: absolute;
  top: 12px;
  left: 12px;
}

.topbox_skin_zest .topbox_next:before {
  content: "►";
  position: absolute;
  top: 12px;
  right: 12px;
}

.topbox_skin_zest .topbox_close:before {
  content: "×";
  position: absolute;
  top: -1px;
  left: 12px;
}

.topbox_skin_zest .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #FF9300;
  background: rgb(108, 108, 108);
  background: linear-gradient(0deg, rgba(76, 76, 76, 1) 0%, rgba(108, 108, 108, 1) 100%);
  text-shadow: 1px 1px 1px #000000;
  border: 2px solid #333333;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.topbox_skin_zest .topbox_image,
.topbox_skin_zest .topbox_html5audio,
.topbox_skin_zest .topbox_html5video,
.topbox_skin_zest .topbox_embedded_web_video,
.topbox_skin_zest .plyr,
.topbox_skin_zest .topbox_ajax,
.topbox_skin_zest .topbox_inline,
.topbox_skin_zest .topbox_ajax,
.topbox_skin_zest .topbox_pdf_wrap,
.topbox_skin_zest .topbox_iframe_wrap,
.topbox_skin_zest .topbox_video_iframe_wrap {
  box-shadow: 0px 0px 50px 15px #000000;
  overflow: hidden;
}
