/* Our lightbox skin named 'stripes' */
.topbox_skin_stripes .topbox_fill {
  background: rgba(255, 255, 255, 0.8);
}

.topbox_skin_stripes .topbox_wrapper:before {
  content: '';
  position: absolute;
  top: -50vw;
  left: -30vw;
  background: rgba(66, 135, 238, 0.8);
  width: 60vw;
  height: 200vw;
  transform: rotate(20deg);
}

.topbox_skin_stripes .topbox_wrapper:after {
  content: '';
  position: absolute;
  top: -50vw;
  right: -30vw;
  background: rgba(36, 80, 234, 0.8);
  width: 60vw;
  height: 200vw;
  transform: rotate(20deg);
}

.topbox_skin_stripes .topbox_error,
.topbox_skin_stripes .topbox_pdf_mobile_message {
  color: #ffffff;
  background-color: #000000;
  font-size: 18px;
}

.topbox_skin_stripes a.topbox_pdf_mobile_button,
.topbox_skin_stripes a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_stripes .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_stripes .topbox_prev,
.topbox_skin_stripes .topbox_next,
.topbox_skin_stripes .topbox_close {
  text-decoration: none;
  font-size: 45px;
  color: #ffffff;
  background: #000000;
  transition: all 100ms ease-in;
  width: 55px;
  line-height: 55px;
  text-align: center;
}

.topbox_skin_stripes .topbox_close {
  line-height: 65px;
  margin-top: -10px;
}

.topbox_skin_stripes .topbox_prev:hover,
.topbox_skin_stripes .topbox_next:hover,
.topbox_skin_stripes .topbox_close:hover {
  color: #ffffff;
}

.topbox_skin_stripes .topbox_prev:before {
  content: "←"
}

.topbox_skin_stripes .topbox_next:before {
  content: "→"
}

.topbox_skin_stripes .topbox_close:before {
  content: "×";
}

.topbox_skin_stripes .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 55px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #ffffff;
  background: #000000;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
}
