/* Our lightbox skin named 'spring_pop' */
.topbox_skin_spring_pop .topbox_fill {
  background: rgb(133, 188, 72);
  background: linear-gradient(0deg, rgba(133, 188, 72, 0.95) 0%, rgba(140, 198, 78, 0.95) 100%);
}

.topbox_skin_spring_pop .topbox_error,
.topbox_skin_spring_pop .topbox_pdf_mobile_message {
  color: rgb(145, 145, 145);
  font-size: 18px;
}

.topbox_skin_spring_pop a.topbox_pdf_mobile_button,
.topbox_skin_spring_pop a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  background: #000000;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_spring_pop .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_spring_pop .topbox_prev,
.topbox_skin_spring_pop .topbox_next,
.topbox_skin_spring_pop .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #ffffff;
  background: #000000;
  transition: all 300ms ease-in;
  width: 55px;
  line-height: 55px;
  text-align: center;
}

.topbox_skin_spring_pop .topbox_close {
  line-height: 65px;
  margin-top: -10px;
}

.topbox_skin_spring_pop .topbox_prev:hover,
.topbox_skin_spring_pop .topbox_next:hover,
.topbox_skin_spring_pop .topbox_close:hover {
  color: #cdcdcd;
}

.topbox_skin_spring_pop .topbox_prev:before {
  content: "←"
}

.topbox_skin_spring_pop .topbox_next:before {
  content: "→"
}

.topbox_skin_spring_pop .topbox_close:before {
  content: "×";
}

.topbox_skin_spring_pop .topbox_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #ffffff;
  background: #000000;
  padding: 10px 20px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
}
